.inboxdiv {
    height: 450px;
    background-color: rgba(0, 188, 212, 0.3);
    overflow-y: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 35px;
}

.listdiv {
    height: 450px;
    background-color: rgba(0, 150, 136, 0.3);
    overflow-y: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 35px;
}

.calenderdiv {
    height: 450px;
    background-color: rgba(3, 169, 181, 0.3);
    overflow-y: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 35px;
}

.maindiv {
    padding: 10px 10px 10px 10px;
}

body{
    background-color: rgba(248, 246, 246, 0.658);
}